.account {

  .account-header {
    position: fixed;
    top: 60px;
    left: 0px;

    z-index: 9999;

    width: 100%;
    height: 60px;

    background: rgba(30, 30, 30, .8);
  }

  .wait {
    position: fixed;

    top: 150px;
    left: 0;
  }
}
