$ocean: rgb(161, 250, 250);

$before: yellow;
$after: rgb(161, 250, 250);

.users {

  .search {

    .pseudo-search, .discover-search {
      border-radius: 10px;
    }

    .pseudo-search {
      background: rgba($color: orange, $alpha: .3);

      height: 161px;
    }

    .discover-search {
      background: rgba($color: plum, $alpha: .3);

      min-height: 161px;
    }
  }

  .user-list {

    .user {
      min-width: 350px;

      background: var(--black40);

      border-radius: 10px;

      margin: 10px;

      padding: 15px;

      transition: .5s ease;

      &:hover {
        transform: translateY(-3px);

        box-shadow: 0px 3px 5px black;

        .div-pseudo {

          .pseudo {
            transform: translateY(-3px);

            box-shadow: 0 3px 8px rgba($color: black, $alpha: .3);
          }

          .pseudo-bg {
            transform: translateY(-3px);

            opacity: 1;
          }
        }
      }

      .div-pseudo {
        position: relative;

        padding: 30px;

        height: 60px;

        width: 60px;

        .pseudo {
          position: absolute;
          top: 0;
          left: 0;

          padding: 30px;

          height: 60px;

          width: 60px;

          letter-spacing: 1px;

          font-size: 12px;

          border-radius: 50%;

          background: var(--black10);

          border: 1px solid var(--black20);

          transition: .5s ease;

          z-index: 3;
        }

        .pseudo-bg {
          position: absolute;
          top: 0;
          left: -1px;

          top: -2px;

          padding: 32px;

          height: 60px;

          width: 60px;

          border-radius: 50%;

          background: linear-gradient(to bottom, rgba($color: $before, $alpha: 1.0), rgba($color: $before, $alpha: 0) 75%);

          transition: .5s ease;

          opacity: .8;
        }
      }
    }
  }
}


@media (max-width: 600px) {
  .users {

    .user-list {

      .user {
        min-width: 280px;

        flex-direction: column;
      }
    }
  }
}
