.rated-films {
  padding-top: 120px;

  .rated-list {

    .rated {
      border-radius: 10px;

      background: var(--black30);

      .poster {
        position: relative;

        width: 130px;
        height: 200px;

        margin: 10px;

        .item-image {
          position: absolute;
          top: 0;
          left: 0;

          z-index: 2;

          width: 130px;
          height: 200px;

          border-radius: 3px;

          transition: .5s ease;
        }

        &:hover, &.hover {

          .item-image {
            opacity: .2;
          }
        }
      }
    }
  }
}
